{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Les services - Arras{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center text-info mt-4 pt-4 display-1 fw-bold">Les écoles</h2><br><br>
</div>
<div class="container text-center">
    <h4>A Arras, la réservation de cantine ce fait ainsi:</h4>
    <h4>. Je réserve = je paie <br>. Je réserve mais ne vient pas = je paie <br>. Je ne réserve pas et viens pas, je paie plus cher (+50% de tarif)
    </h4>
    <h4>Le service de la restauration scolaire comprend le repas et la prise en charge avant, pendant et après le repas.
        Seul les enfants scolarisés dans les écoles maternelles et élémentaires publiques de la ville d'Arras ont accès à la restauration scolaire.</h4>
    {{form(form)}}
</div><br><br>

<div class="container text-center">
    <img src="https://www.atrium-archi.com/sites/Atrium/files/styles/1600x900/public/01_27.jpg?itok=vDqc-RT0" class="rounded">
</div>

{% endblock %}