{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Présentation de la ville - Arras{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-10 text-info">
            <h2 class="text-center mt-4 pt-4 display-1 fw-bold">Présentation de la ville !</h2>
        </div>
    </div>
</div><br>
<div class="container-fluid text-center bg-info">
    <h4>Capitale historique et administrative du département du Pas-de-Calais, au cœur de la zone économique agroalimentaire la plus étendue au nord de Paris, chef-lieu du Pas-de-Calais, Arras n'est pourtant, avec ses 41 000 habitants, que la deuxième ville la plus peuplée du département après CalaisNote 2. Elle est le siège de la communauté urbaine d'Arras, qui regroupe 108 000 habitants sur 46 communes.
        Historiquement, Arras était la capitale de la province de l'Artois, un grand centre religieux et une cité prospère connue pour ses fabrications drapières. Aujourd'hui, c'est l'une des villes les plus visités par autrui, comptant à la fois, beaucoup de diversité de métiers, d'emplois, mais également beaucoup de diversité d'évènements.
        Arras est réputée pour ses deux magnifiques places baroques qui forment un ensemble architectural unique au monde, son beffroi et sa Citadelle, tous deux classés au patrimoine mondial de l'UNESCO. Avec 225 édifices protégés au titre des monuments historiques, Arras est la ville avec la densité de monuments la plus importante de France.</h4>
</div>

<div class="container text-left rounded">
    <img src="https://images.france.fr/zeaejvyq9bhj/6IWDlCvSts2lN2DDk4ST4X/0294caa78da15e9b337bcdcaf7eda9af/Arras_-_Place_des_H__ros_-_AdobeStock_Production_Perig_-_fichier_82694715_-_OPT.jpeg?w=1200&h=630&q=70&fl=progressive&fit=fill" class="rounded">
</div><br>
<div class="container-fluid bg-info">
    <div class=" container text-left">
        <h2><strong>Où ce situe Arras</strong></h2>
    </div>
    <div class="container text-center">
        <h3>Arras se situe dans l'Artois, à environ 17 km de Lens3, 45 km de Lille4, 100 km de Calais5 et 160 km de Paris6 à vol d'oiseau. La ville est à proximité de la vaste eurométropole Lille-Kortrijk-Tournai. Chef-lieu du Pas-de-Calais, elle en est pourtant excentrée dans le sud-est. </h3>
    </div>
</div>
<div class="container text-center">
    <img src="https://agendaculturel.emstorage.fr/theatre-detrsquo-arras-99487107.jpg" class="rounded">
</div><br>
<div class="container-fluid bg-info">
    <div class="container text-left">
        <h2><strong>Le Théâtre</strong></h2>
    </div>
    <div class="container text-center">
        <h3>spectacles et pièces de théâtre à Arras avec les représentations ce soir, en février, mars, avril en 2022. Retrouvez le programme des théâtres à Arras avec les dates de Casino d'Arras.
            Les spectacles Inavouable, Cirque Arlette Gruss - Diner-Spectacle, Chantal Ladesou, Booder Is Back, Bun Hay Mean seront prochainement à l'affiche à Arras</h3>
    </div>
</div>
<div class="container text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="https://generations.fr/media/news/mainsquarefestival2017_c1-65990.jpg" class="d-block w-10 h-50 rounded" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://socialmusiccafe.com/wp-content/uploads/2019/03/main-square-festival.jpg" class="d-block w-10 h-50 rounded" alt="">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div><br>
<div class="container-fluid bg-info">
    <div class="container text-left">
        <h2><strong>Main Square</strong></h2>
    </div>
    <div class="container text-center">
        <h3>Le Main Square Festival est un festival de musique qui se déroule à la citadelle d'Arras pendant le premier week-end de juillet. Il se caractérise par sa programmation internationale et son site : la Citadelle d'Arras, inscrite au patrimoine mondial de l'UNESCO. </h3>
    </div>
</div>
<br>
<div class="container text-center">
    <img src="https://www.cu-arras.fr/wp-content/uploads/Entreprendre/Citadelle-VueAerienne.jpg" class="rounded">
</div><br>
<div class="container-fluid bg-info">
    <div class="container text-left">
        <h2><strong>Citadelle d'Arras</strong></h2>
    </div>
    <div class="container text-center">
        <h3>La citadelle d'Arras est construite par Vauban de 1668 à 1672, pour défendre la place d'Arras. Elle est inscrite au patrimoine mondial de l'Unesco. La construction de la citadelle est projetée à cinq endroits différents d'Arras : dans la cité, à proximité de la grand-place, à la porte Ronville, dans l'ouvrage de Baudimont ou entre les portes d'Amiens et d'Hagerue. C'est ce dernier emplacement qui est choisi car il forme un angle droit entre la ville et la cité. La construction débute en 1668 et se termine en 16701.</h3>
    </div>
</div>
{% endblock %}